
> restaurante_silva@0.0.1 db:dump
> powershell -NoProfile -Command "$token=(Get-Content -Raw supabase/env/.env) -split '`n' | Where-Object { $_ -match '^SUPABASE_ACCESS_TOKEN=' } | ForEach-Object { $_.Split('=',2)[1].Trim() }; if (-not $token) { throw 'Missing SUPABASE_ACCESS_TOKEN'; }; $env:SUPABASE_ACCESS_TOKEN=$token; tools\\supabase\\supabase.exe db dump --schema public"




SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."caixa_operacoes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "data_movimento" "date",
    "status" "text",
    "valor_abertura" numeric,
    "timestamp_abertura" timestamp with time zone,
    "nome_responsavel_abertura" "text",
    "valor_fechamento" numeric,
    "valor_calculado" numeric,
    "timestamp_fechamento" timestamp with time zone,
    "nome_responsavel_fechamento" "text",
    "observacoes" "text",
    "created_at" timestamp with time zone,
    "updated_at" timestamp with time zone,
    "data_local" "date",
    "esperado_por_forma" "jsonb",
    "contado_por_forma" "jsonb",
    "diferenca_por_forma" "jsonb",
    "valor_contado" numeric,
    "diferenca_total" numeric,
    "reaberto_at" timestamp with time zone,
    "reaberto_por" "text"
);


ALTER TABLE "public"."caixa_operacoes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."clientes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "created_at" timestamp with time zone,
    "updated_at" timestamp with time zone,
    "nome" "text",
    "contato" "text",
    "tipo" "text",
    "observacoes" "text",
    "ativo" boolean
);


ALTER TABLE "public"."clientes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."funcionarios_empresa" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "created_at" timestamp with time zone,
    "updated_at" timestamp with time zone,
    "nome" "text",
    "cliente_id" "uuid"
);


ALTER TABLE "public"."funcionarios_empresa" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."itens_transacao" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "transacao_id" "uuid",
    "produto_id" "uuid",
    "quantidade" numeric,
    "preco_unitario_congelado" numeric,
    "nome_produto_congelado" "text",
    "created_at" timestamp with time zone,
    "updated_at" timestamp with time zone
);


ALTER TABLE "public"."itens_transacao" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."pagamentos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "cliente_id" "uuid",
    "valor" numeric,
    "forma_pagamento" "text",
    "data_pagamento" timestamp with time zone,
    "observacao" "text",
    "origem_transacao_id" "uuid",
    "estornado" boolean,
    "observacao_estorno" "text",
    "data_estorno" timestamp with time zone
);


ALTER TABLE "public"."pagamentos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."produtos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "created_at" timestamp with time zone,
    "updated_at" timestamp with time zone,
    "nome" "text",
    "preco" numeric,
    "categoria" "text",
    "ativo" boolean
);


ALTER TABLE "public"."produtos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."transacoes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "cliente_id" "uuid",
    "caixa_operacao_id" "uuid",
    "valor" numeric,
    "data_transacao" timestamp with time zone,
    "forma_pagamento" "text",
    "status_pagamento" "text",
    "nome_funcionario_empresa" "text",
    "nome_cliente_avulso" "text",
    "anotacoes" "text",
    "estornado" boolean,
    "id_transacao_estornada" "uuid",
    "created_at" timestamp with time zone,
    "updated_at" timestamp with time zone,
    "status_preparo" "text",
    "data_local" "date"
);


ALTER TABLE "public"."transacoes" OWNER TO "postgres";


ALTER TABLE ONLY "public"."caixa_operacoes"
    ADD CONSTRAINT "caixa_operacoes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."clientes"
    ADD CONSTRAINT "clientes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."funcionarios_empresa"
    ADD CONSTRAINT "funcionarios_empresa_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."itens_transacao"
    ADD CONSTRAINT "itens_transacao_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."pagamentos"
    ADD CONSTRAINT "pagamentos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."produtos"
    ADD CONSTRAINT "produtos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."transacoes"
    ADD CONSTRAINT "transacoes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."funcionarios_empresa"
    ADD CONSTRAINT "funcionarios_empresa_cliente_id_fkey" FOREIGN KEY ("cliente_id") REFERENCES "public"."clientes"("id");



ALTER TABLE ONLY "public"."itens_transacao"
    ADD CONSTRAINT "itens_transacao_produto_id_fkey" FOREIGN KEY ("produto_id") REFERENCES "public"."produtos"("id");



ALTER TABLE ONLY "public"."itens_transacao"
    ADD CONSTRAINT "itens_transacao_transacao_id_fkey" FOREIGN KEY ("transacao_id") REFERENCES "public"."transacoes"("id");



ALTER TABLE ONLY "public"."pagamentos"
    ADD CONSTRAINT "pagamentos_cliente_id_fkey" FOREIGN KEY ("cliente_id") REFERENCES "public"."clientes"("id");



ALTER TABLE ONLY "public"."pagamentos"
    ADD CONSTRAINT "pagamentos_origem_transacao_id_fkey" FOREIGN KEY ("origem_transacao_id") REFERENCES "public"."transacoes"("id");



ALTER TABLE ONLY "public"."transacoes"
    ADD CONSTRAINT "transacoes_caixa_operacao_id_fkey" FOREIGN KEY ("caixa_operacao_id") REFERENCES "public"."caixa_operacoes"("id");



ALTER TABLE ONLY "public"."transacoes"
    ADD CONSTRAINT "transacoes_cliente_id_fkey" FOREIGN KEY ("cliente_id") REFERENCES "public"."clientes"("id");



ALTER TABLE ONLY "public"."transacoes"
    ADD CONSTRAINT "transacoes_id_transacao_estornada_fkey" FOREIGN KEY ("id_transacao_estornada") REFERENCES "public"."transacoes"("id");



GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON TABLE "public"."caixa_operacoes" TO "anon";
GRANT ALL ON TABLE "public"."caixa_operacoes" TO "authenticated";
GRANT ALL ON TABLE "public"."caixa_operacoes" TO "service_role";



GRANT ALL ON TABLE "public"."clientes" TO "anon";
GRANT ALL ON TABLE "public"."clientes" TO "authenticated";
GRANT ALL ON TABLE "public"."clientes" TO "service_role";



GRANT ALL ON TABLE "public"."funcionarios_empresa" TO "anon";
GRANT ALL ON TABLE "public"."funcionarios_empresa" TO "authenticated";
GRANT ALL ON TABLE "public"."funcionarios_empresa" TO "service_role";



GRANT ALL ON TABLE "public"."itens_transacao" TO "anon";
GRANT ALL ON TABLE "public"."itens_transacao" TO "authenticated";
GRANT ALL ON TABLE "public"."itens_transacao" TO "service_role";



GRANT ALL ON TABLE "public"."pagamentos" TO "anon";
GRANT ALL ON TABLE "public"."pagamentos" TO "authenticated";
GRANT ALL ON TABLE "public"."pagamentos" TO "service_role";



GRANT ALL ON TABLE "public"."produtos" TO "anon";
GRANT ALL ON TABLE "public"."produtos" TO "authenticated";
GRANT ALL ON TABLE "public"."produtos" TO "service_role";



GRANT ALL ON TABLE "public"."transacoes" TO "anon";
GRANT ALL ON TABLE "public"."transacoes" TO "authenticated";
GRANT ALL ON TABLE "public"."transacoes" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







