// src/css/app.scss

// 1. Importa a fonte "Work Sans" do Google Fonts para o nosso projeto
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@import './app-theme.scss';

// 2. Define os estilos padrão para todo o aplicativo
body {
  // Define a nova fonte como padrão para todos os textos
  font-family: 'Work Sans', sans-serif;

  // Define a nossa nova cor de fundo off-white
  // A variável vem do arquivo que acabamos de editar!
  background-color: $background-light;
}

// 3. (Opcional, mas recomendado) Define a fonte para os títulos
// Isso garante que os títulos tenham um peso visual consistente.
.text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
  font-family: 'Work Sans', sans-serif;
}

// 3. Estilos globais para os cards, para imitar a inspiração
// Removemos a borda padrão e adicionamos um border-radius maior
.q-card {
  border-radius: 0.75rem; // corresponde ao 'rounded-xl' do Tailwind
  border: 1px solid $subtle-light;
  box-shadow: none; // A inspiração tem uma sombra muito sutil ou nenhuma
}

.q-btn {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.q-btn:hover {
  transform: scale(1.05); // O botão aumenta um pouquinho
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); // Adiciona uma sombra suave
}

.item-inativo {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
