// src/css/quasar.variables.scss

// 1. Definição das nossas novas cores baseadas na inspiração
$primary:   #f9bf10;      // O nosso amarelo principal
$secondary: #e9e6da;      // Cor sutil para bordas e fundos secundários
$accent:    #dcd8c9;      // Um tom de cinza/bege para detalhes

$dark:      #3b372a;      // A cor principal para textos (um cinza bem escuro/marrom)

$positive:  #21BA45;      // Verde para notificações de sucesso
$negative:  #C10015;      // Vermelho para notificações de erro
$info:      #31CCEC;
$warning:   #F2C037;

// 2. Cores personalizadas para o nosso tema
$background-light: #f8f8f5; // O fundo off-white/bege claro
$subtle-light: #e9e6da;     // Bordas e divisórias suaves